@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@700&family=Manrope:wght@200;300&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;600&family=Rubik&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clr-text{
  color: indianred;
}